.contact {
    & .container2 {
        background: #90C0E8;
        padding-top: 47px;
        padding-bottom: 49px;
        padding-left: 97px;
        display: flex;
        align-items: center;
    }

    &_form {
        margin-left: 74px;
        display: flex;
        flex-direction: column;

        &-title{
            color: #fff;
            width: 445px;
            margin-bottom: 63px;
        }

        &-input {
            background: #FFFFFF;
            border-radius: 10px;
            width: 445px;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: #828282;
            mix-blend-mode: normal;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            outline: none;

            &::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                color: #828282;
                mix-blend-mode: normal;
            }
        }

        &-btn {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            background: #F5BF75;
            border-radius: 10px;
            padding: 16px 53px;
            width: 180px;
            border: none;
            margin-left: auto;
        }
    }

    &_title {
        width: 445px;
        margin-bottom: 63px;
    }
}

.map-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe-map {
    border-radius: 15px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 20px;
}

.message-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.name {
    height: 60px;
}

.email {
    height: 60px;
}

.textarea {
    height: 120px;
    padding-top: 46px;
    padding-bottom: 14px;
}

.message {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #828282;
    mix-blend-mode: normal;
    position: absolute;
    top: 16px;
    left: 30px;
}